.dropdown-menu[data-bs-popper].left {
    left: -31px;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.header-ttl {
    padding: 5px 0;
    background-image: linear-gradient(to right top, #5890e3, #407be1, #2f65dc, #2b4cd4, #352fc9);
}

.header-ttl .logo {
    float: left;
}

.header-ttl .logo a {
    padding-left: 50px;
    color: #ffffff;
    text-decoration: none;
}

.header-ttl .nav-inner {
    float: right;
    margin-right: 50px;
}

.header-ttl .nav-inner ul li {
    display: inline-block;
    padding: 0px 10px;
    list-style-type: none;

}

.header-ttl .nav-inner ul li a {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.logo-img img {
    width: 100%;
    background-size: cover;
}

.footer {
    padding-bottom: 200px;
    background-image: linear-gradient(to right top, #5890e3, #407be1, #2f65dc, #2b4cd4, #352fc9);
}

.footer .footer-sub {
    margin-left: 100px;
}

.footer .footer-sub .company {
    margin-left: 30px;
}

.footer .footer-sub .company {
    float: left;
    width: 30%;
}

.footer .footer-sub .company h4 {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.footer .footer-sub .company #health {
    margin-left: 40px;
}

.footer .footer-sub .company p {
    width: 50%;
    color: #f5f4f7;
    text-align: justify;
}

.footer .footer-sub .company ul li {
    padding: 7px 0;
    color: #f5f4f7;
    list-style-type: none;

}